* {
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  color:black;
}
body {
    background-color: rgb(167, 171, 190);
    color: rgb(255, 255, 255);
}
.navTitle {
    font-weight: 900;
    font-size: xx-large;
  }
  
  .postBox {
    margin-top: 8px;
    border-style: solid;
  }
  
  .postTitle {
    text-decoration: none;
    color: rgb(141, 171, 192);
  }
  
  .postDesc {
    border-style: solid;
    margin-bottom: 5px;
    padding: 2px;
    background-color: rgb(212, 222, 243);
  }
  
  .postDescMain {
    font-weight: 700;
  }
  
  .postDescTwo {
    font-size: 25px;
    font-style: italic;
  }
  
  .postCreate {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    padding: 5px;
    color:  rgb(141, 171, 192);
  }
  
  .postBoxCont {
      margin-top: 10px;
    border-style: solid;
    background-color:  rgb(141, 171, 192);
  }
  
  .formCont {
    margin-top: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .commentCont {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
    background-color:  rgb(141, 171, 192));
  }
  
  .commentOwner {
    font-size: 14px;
  }
  
  .btnComment {
    margin-top: 10px;
  }
  
  .commentText {
    font-weight: bold;
    padding-top: 10px;
    background-color:  rgb(141, 171, 192);
  }
  
  .commentCont {
    border-style: dashed;
  }
  
  .headerRow {
    background-color: black;
    margin-bottom: 10px;
  }
  
  a:link {
    color: rgb(29, 200, 23);
  }
  
  a:hover {
    color: deeppink;
  }
  
  .login{
      margin-left: 25px;
  }
  
  .signup{
      margin-left: 25px;
  }
  
  .form-group{
      margin-top: 10px;
  }

  